* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  // background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%);
  // background-repeat: no-repeat;
  background: #633BBC;
  font-family: 'Rubik', sans-serif;
}